<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoConect" value="mongodb://localhost:27017/" />
    <!--<add key="MongoConect" value="ds233212.mlab.com" />-->
    <!--<add key="Port" value="33212" />-->
    <add key="DataBase" value="molecule-structures" />
    <add key="Username" value="admin" />
    <add key="Password" value="55djy39Uip2assEX667198aqozc44azUrtt0p@OT56LMqq66GY4" />
    <add key="ScriptPath" value="C:\Users\Marco\Desktop\evogen-tcc-manipulacao-genetica-2018\EvoGen.Script\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>