<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="ScriptPath" value="F:\Dados\_TCC\EvoGen\EvoGen.Script\" />-->
    <add key="ScriptPath" value="C:\Users\Marco\Desktop\EvoGen\EvoGen.Script\" />
    <add key="MongoConect" value="mongodb://localhost/" />
    <add key="DataBase" value="EvoGen" />
  </appSettings>
</configuration>